{% extends 'basicHTML.html' %}

{% block head %}
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='allSongs.css') }}">
{% endblock %}

{% block title %}
  Songs
{% endblock %}

{% block titleBarElement %} 
    {% if is_authenticated %}
        <li class="nav-item" style="text-align: center">
            <a class="nav-link js-scroll-trigger" href="/profile" style="color: white; font-size: 17px"> Profile Page </a>
        </li>
        <li class="nav-item" style="text-align: center">
            <a class="nav-link js-scroll-trigger" href="/logout" style="color: white; font-size: 17px"> Logout </a>
        </li>
    {% else %}
        <li class="nav-item" style="text-align: center">
            <a class="nav-link js-scroll-trigger" href="/" style="color: white;font-size: 17px"> Go to HomePage </a>
        </li>
    {% endif %}
    <form style="margin-left: 10vh;" action="/searchQuery" name="searchQuery" method="GET">
      <div class="form-group">
        <input type="text" name="searchQuery" placeholder="search.."  style="width: 100%; font-size: 2vh; padding: 1vh; margin: 0; margin-top: 1vh; border: none;">
        <!-- <small id="emailHelp" class="form-text text-muted" style="color: white;"> Search for a song or an annotation </small> -->
      </div>
    </form>
{% endblock %}

{% block body %}
<br><br>



<div class="titleBar">
  <!-- <div class="Genius"> <p> Genius </p> </div> -->
  <p style="font-size: 12vh"> All Songs </p>
  <!-- <p> all songs </p> -->
</div>

<br><br>

<style>
  .link {
    color: black;
  }
  .link:hover{
    color: blue;
  }
</style>

{% for i in songs %}

  <ul class="list-group" style="text-align: center; margin: auto; width: 40%; ">
    <li class="list-group-item">
    <div class="row">
      <div class="col-sm-4">
        <img src="{{ i.imglink }}" alt="Image Not Available" height="150vh;" width="150vh;">
      </div>
      <div class="col-sm-8" style="text-align: left; width: 75%;">
        <a href="songs/{{ i.songnumber }}" class="songNumber" style=" font-size: 6vh;"> {{ i.songnumber }}. {{ i.songname }}</a>
        <br>
        <p class="songNumber" style="font-size: 4vh;"> <a href="/publicArtistProfile/{{ i.artist_id }}" class="link"> {{ i.artist }} </a> </p>
      </div>
    </div>
    </li>
   
  </ul>
{% endfor %}
<br>

{% endblock %}
