{% extends 'basicHTML.html' %}

{% block head %}
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='allSongs.css') }}">
{% endblock %}

{% block title %}
  Songs
{% endblock %}

{% block titleBarElement %} 
    {% if is_authenticated %}
        <li class="nav-item" style="text-align: center">
            <a class="nav-link js-scroll-trigger" href="/profile" style="padding-left: 4vh;padding-right: 6vh;color: white; font-size: 17px"> Profile Page </a>
        </li>
        <li class="nav-item" style="text-align: center">
            <a class="nav-link js-scroll-trigger" href="/logout" style="padding-right: 6vh;color: white; font-size: 17px"> Logout </a>
        </li>
    {% else %}
        <li class="nav-item" style="text-align: center">
            <a class="nav-link js-scroll-trigger" href="/" style="padding-left: 45vh;padding-right:6vh;color: white;font-size: 17px"> Go to HomePage </a>
        </li>
    {% endif %}
{% endblock %}

{% block body %}
<br><br>

<div class="titleBar">
  <!-- <div class="Genius"> <p> Genius </p> </div> -->
  <p style="font-size: 12vh"> All Songs </p>
  <!-- <p> all songs </p> -->
</div>

<br><br>


{% for i in songs %}

  <ul class="list-group" style="text-align: center; margin: auto; width: 40%; ">
    <li class="list-group-item">
    <div class="row">
      <div class="col-sm-4">
        <img src="{{ i.imglink }}" alt="Image Not Available" height="150vh;" width="150vh;">
      </div>
      <div class="col-sm-8" style="text-align: left; width: 75%;">
        <a href="songs/{{ i.songnumber }}" class="songNumber" style=" font-size: 6vh;"> {{ i.songnumber }}. {{ i.songname }}</a>
        <br>
        <p class="songNumber" style="font-size: 4vh;"> {{ i.artist }} </p>
      </div>
    </div>
    </li>
   
  </ul>
{% endfor %}
<br>

{% endblock %}
