{% extends 'basicHTML.html' %}

{% block head %}

    <link rel="stylesheet" type = "text/css" href="{{ url_for('static', filename='artistProfile.css') }}">

{% endblock %}

{% block title %}
Profile
{% endblock %}


{% block body %}
	
<br><br>

<div class="row" id="profile-header">
    <!-- <div class="profile-header"> -->
        <div class="col-sm-2"> </div>
        <div class="col-sm-3">
            <img src="{{ userData.profilePicture }}" class="img-circle" alt="artist">
        </div>
        <div class="col-sm-3">
            <!-- <div class="row" id="text-username"> -->
                <p style="font-size: 8vh"> @{{ userData.username }} </p>
            <!-- </div> -->
            <!-- <div class="row" id="text-contributor"> -->
                <p style="font-size: 4vh"> ARTIST </p>
                <a href="/addSong" style="font-size: 2vh;"> Add Song </a>
            <!-- </div> -->

        </div>
        <div class="col-sm-3"> </div>
        <div class="col-sm-1"> <a href="/logout"> Log Out </a></div>
</div>
<br><br><br><br>
<div class="container-fluid">
    <div class="row" id="main-body-elements">
        <div class="col-sm-1"> </div>
        <div class="col-sm-5" id="bio-data">
            <br>
            
            <p style = "font-size: 4vh"> {{ userData.bio }} </p>
            <br><br>
        </div>
        <div class="col-sm-1"></div>

        <div class="col-sm-5">

                <table class="table table-striped">
                    <thead>
                      <tr>
                        <th>MOST POPULAR SONGS</th>
                      </tr>
                    </thead>
                    <tbody>
                        {% for i in songList %}
                      <tr>
                        <td> <a href="songs/{{ i.songnumber }}" style="color: black"> {{ i.songname }}</td>
                      </tr>
                        {% endfor %}
              
                    </tbody>
                </table>
        </div>

{% endblock %}
