{% extends 'basicHTML.html' %}

{% block head %}
  
    <link rel="stylesheet" type = "text/css" href="{{ url_for('static', filename='userProfile.css') }}">

{% endblock %}

{% block title %}
Profile
{% endblock %}

{% block titleBarElement %} 
    <li class="nav-item" style="text-align: center">
        <a class="nav-link js-scroll-trigger" href="/logout" style="padding-right: 6vh color: white; font-size: 17px"> Logout </a>
    </li>
    <li class="nav-item" style="text-align: center">
      <a class="nav-link js-scroll-trigger" href="/editProfile.html" style="padding-right: 6vh;color: white; font-size: 17px"> Edit Profile </a>
    </li>
    <form style="margin-left: 10vh;" action="/searchQuery" name="searchQuery" method="GET">
        <div class="form-group">
            <input type="text" name="searchQuery" placeholder="search.."  style="width: 100%; font-size: 2vh; padding: 1vh; margin: 0; margin-top: 1vh; border: none;">
        </div>
    </form>
{% endblock %}

{% block body %}

<br><br>

<div class="row" id="profile-header" style="width: 101%"> 
    <!-- <div class="profile-header"> -->
        <div class="col-sm-2"> </div>
        <div class="col-sm-3">
            <img src="{{ userData.profilePicture }}" class="img-circle" alt="user">
        </div>
        <div class="col-sm-3">
            <!-- <div class="row" id="text-username"> -->
                <p style="font-size: 8vh"> @{{ userData.username }} </p>
            <!-- </div> -->
            <!-- <div class="row" id="text-contributor"> -->
                <p style="font-size: 4vh"> CONTRIBUTOR </p>
            <!-- </div> -->

        </div>
        <div class="col-sm-3"> </div>
        <!-- <div class="col-sm-1"> <a href="/logout"> Log Out </a></div> -->
</div> 
<br><br><br><br>
<div class="container-fluid">
    <div class="row" id="main-body-elements">
        <div class="col-sm-1"> </div>
        <div class="col-sm-5" id="bio-data">
            <br>
            <p style = "font-size: 4vh"> {{ userData.bio }} </p>
            <br><br> 
        </div>
        <div class="col-sm-1"></div>

        <div class="col-sm-5">
      
                <table class="table table-striped">
                    <thead>
                      <tr>
                        <th> MY ANNOTATIONS </th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for i in annotationDataForThisUser %}
                        <tr>
                          <td> <a href="/songs/{{ i[0] }}" style=" color: black"> {{ loop.index }} </a> </td>
                          <td> <a href="/songs/{{ i[0] }}" style=" color: black"> {{ i[1] }} </a> </td>
                          <td> <a href="/songs/{{ i[0] }}" style="color: black"> {{ i[2] }} </a> </td>
                        </tr>
                      {% endfor %}
                    </tbody>
                </table>
        </div>

{% endblock %}